
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto+Mono:wght@700&display=swap');
body {
    align-items: center;
    background-color: #F6F6F3;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
}

.wrapper {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 47.1547px rgba(148, 146, 120, 0.23);
    padding-top: 55px;
    width: 765px;
}

.tip-amount, .total-per-person {
    align-items: center;
    display: flex;
    gap: 35px;
    justify-content: center;
    padding-bottom: 35px;
    width: 100%;
    
    & .dollars {
        font-size: 5rem;
    }
    & sup {
        font-size: 3rem;
    }
}

.tip-amount {
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 35px;
 
}

.dollars {
    font-family: 'Inter', sans-serif;
}

.total {
    display: flex;
}

.input-fields {
    background-color: #F6F6F6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bill-amount {
    border-right: 1px solid #DEDEDE;
    padding: 65px 45px 45px;
    
    & input[type="text"] {
        background: url('./images/dollar.svg') left 20px no-repeat ;
        padding-left: 40px;;
    }
    & .label{
text-align: center;
}
}
.number-of-people {
    padding: 65px 45px 45px;
      

    & input[type="text"] {
        background: url('./images/people.svg') left 20px no-repeat ;
        padding-left: 40px;
    }
    & .label{
text-align: center;
}
}
input[type="text"] {
    background: none;
    border: none;
    border-bottom: 3px dotted #B3B3B3;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    outline: none;
    text-align: center;
    width: 100%;
}

.tip-percentages {
    background-color: #EEEEEE;
    color: #60C1B6;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 20px 40px;
}

input[type="radio"] {
    display: none;
    

    & + label {
        align-items: center;
        background: white;
        border-radius: 16px;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
        color: #60C1B6;
        cursor: pointer;
        display: flex;
        font-family: 'Roboto Mono', monospace;
        height: 65px;
        justify-content: center;
        width: 135px;
    }
    &:checked + label {
        background-color: #60C1B6;
        color: white
    }
}

.calculate {
    padding: 30px  35px;
    text-align: right;
}

button {
    background-color: #ED7861;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    color: white;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    margin-left: auto;
    padding: 20px 100px;
}
